@import url('whitespace-reset.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ---------------------------------

                general

------------------------------------ */
body {
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  font-size: 18px;
}

h1 {
  color: #161d6f;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
}

h3, #resume-btn {
  color: #161d6f;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 25px 0;
}

#resume-btn:hover {
  color: #98ded9;
}

header {
  padding: 15px;
  position: fixed;
}

#about-me {
  display: none;
}

#about-me-toggle {
  width: 40px;
  height: 40px;
}

#intro > h4 > img {
  display: inline-block;
  padding-right: 5px;
}

#contact h3 {
  color: #000000;
}


#projects > ul {
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-top: 75px;
}

#projects img {
  box-shadow: 0 0 25px #d2d7d3;
  width: 100%;
}

h4 {
  align-items: center;
  color: #161d6f;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
}

h5 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom: 15px;
}

a.dendro {
 color: #161d6f;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  margin: 0 2%;
  width: 25%;
}

section {
  padding: 100px 10%;
}

hr {
  border: 0;
  border-top: 1px solid #ecf0f1;
  width: 15%;
}

footer {
  background-color: #262626;
  padding: 25px 0;
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.btn {
  background-color: #161d6f;
  border: solid 1px #161d6f;
  border-radius: 5px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.icon {
  background-color: #161d6f;
  border: solid 1px #161d6f;
  border-radius: 25px;
  margin: 2%;
  min-width: 34px;
  padding: 3px;
  width: 100%;
}

.btn:hover,
.icon:hover {
  background-color: #98ded9;
  border-color: #98ded9;
}

.horz-center {
  -ms-align-items: center;
  align-items: center;
  flex-direction: column;
}

.vert-center {
  -ms-align-items: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#logo {
  margin: 25px;
  opacity: 0.5;
  position: fixed;
  width: 60px;
}

/* ---------------------------------

               intro

------------------------------------ */

#avatar {
  display: block;
  max-width: 250px;
  min-width: 200px;
  object-fit: contain;
  width: 25%;
}

#intro > p {
  text-align: center;
  width: 550px;
}

/* ---------------------------------

               #dendro

------------------------------------ */

#dendro {
  background-color: #ecf0f1;
}

#dendro-title-container,
#dendro-video-container {
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

#dendro-logo {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
}

#dendro h2 {
  display: inline-block;
}

#dendro-info-container,
#dendro-video-container {
  margin-top: 75px;
}

#dendro-info-container > div,
#dendro-video-container > div {
  width: 50%;
}

#dendro-info-container > div:first-of-type,
#dendro-video-container > div:first-of-type {
  margin-right: 2.5%;
}

#dendro-images {
  max-width: 100%;
  height: auto;
  width: auto;
}

div > iframe {
  max-width: 100%;
}

#dendro-info-container > div:last-of-type,
#dendro-video-container > div:last-of-type {
  margin-left: 2.5%;
}

#dendro-video-container div:last-of-type > p {
  width: 75%;
}

#dendro p:first-of-type {
  position: relative;
  top: -0.5rem;
}

#dendro-repo-btn {
  margin-top: 25px;
  width: 228px;
}


/* ---------------------------------

              contact

------------------------------------ */

#resume-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 5px;
  left: 5px;
}

#github-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 55px;
  left: 5px;
}

#linkedin-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 105px;
  left: 5px;
}

#contact {
  padding-top: 50px;
}

#contact h3 {
  margin-bottom: 10px;
}

#contact ul {
  width: 20%;
}

#contact li {
  margin: 6%;
}

/* ---------------------------------

           media queries

------------------------------------ */

@media(max-width: 1100px) {
  h4 {
    font-size: 1.1rem;
  }

  #logo {
    margin: 20px;
    width: 55px;
  }

  #projects p {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
}


@media(max-width: 920px) {
  section {
    padding: 100px 15%;
  }

  li {
    margin-bottom: 100px;
    width: 100%;
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  #projects p {
    font-size: 1rem;
    line-height: 1.7rem;
  }

  #projects > ul {
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
  }

  #logo {
    width: 50px;
  }

  #dendro-info-container,
  #dendro-video-container {
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }

  #dendro-info-container > div:first-of-type,
  #dendro-video-container > div:first-of-type {
    margin-right: 0;
  }

  #dendro-info-container > div:last-of-type,
  #dendro-video-container > div:last-of-type {
    margin-left: 0;
  }

  #dendro-info-container > div,
  #dendro-video-container > div {
    width: 90%;
  }

  #dendro-images,
  div > iframe {
    margin-bottom: 50px;
  }

  #contact ul {
    width: 30%;
  }

  #contact li {
    margin: 8%;
  }
}


@media(max-width: 690px) {
  #dendro-logo {
    margin-bottom: 25px;
    width: 75px;
  }

  #dendro-title-container {
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
  }

  #dendro-logo {
    margin-right: 0;
  }
}

@media(max-width: 570px) {
  #intro > p {
    width: 100%;
  }

  h1 {
    font-size: 2.7rem;
    width: 80vw;
  }

  h2 {
    font-size: 1.9rem;
  }

  section {
    padding: 65px 15%;
  }

  #dendro-info-container {
    margin-top: 25px;
  }

  #dendro-repo-btn {
    align-self: center;
  }

  #projects > ul {
    width: 100%;
  }
}

@media(max-width: 465px) {
  #dendro-info-container > div {
    width: 100%;
  }

  #dendro-logo {
    width: 60px;
  }

  #contact li {
    margin: 15%;
  }

  #projects > ul {
    width: 100%;
  }
}


@media(max-width: 400px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  #dendro-repo-btn {
    width: 180px;
  }

  #projects > ul {
    margin-top: 50px;
  }

  #projects li {
    margin-bottom: 50px;
  }

  #projects li:last-of-type {
    margin-bottom: 0;
  }
}
